.contentInfoTarea{
    display: inline-block;
    /* height: 350px; */
    width: 350px;
    background-color: #FAFAFA;
    border-radius: 15px;
    border: 2px solid #6E6E6E;
    justify-content: center;
    text-align: center;
}
.dituloInfoTarea{
    padding: 15px;
    border-bottom: 1px solid #6E6E6E;
    font-size: 18px;
    font-weight: bold;
}
.descripInfoTarea{
    padding: 30px 10px;
    font-size: 17px;
    font-weight: 300;
}
.buttonInfoTarea{
    padding: 15px;
    border-top: 1px solid #6E6E6E;
}
.buttonInfoTarea button{
    background-color: #FE2E64;
    color: #fff;
    padding: 10px 17px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.buttonInfoTarea button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: #B40431;
    margin: 0;
    transform: translateX(-100%);
    transition: transform .2s linear;
}

/* .buttonInfoTarea button:hover ~ .buttonInfoTarea button::before{
    transform: translateX(100%);
} */

.buttonInfoTarea button:hover::before{
    transform: translateX(0);
}